body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white; 
}

header{
    width: 100%;
    background-color:#DADADA;
    margin-bottom:10px;
}

.content{
    width: 100%;
}

.menu{
    padding-bottom: 350px;
    width: 25%;
    background-color: #f2f2f2;
    /* height: 100%; */
    float:left;
    border-right-style: solid;
    border-right-color: #ccc;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 5px 10px;
}

.menu li:hover{
    background-color: #FFFFFF;
    color: black;
}

.menu a{
    text-decoration: none;
    color: #8a8a8a;
}

.news {
    width: 70%;
    float: left;
    padding: 20px;
}

.news .n{
    width: 100%;
    margin-bottom: 20px;
    background-color:     #F7F7F7;
    color:     #8a8a8a;
    border-top-style: solid;
    border-top-color:     #CDCDCD;
    padding: 20px;
}

.n h3{
    margin: 0;
}
.n a{
    color: #A2A2A2;
    text-decoration: none;
}

.news .n a:hover{
    color:black;
}

div.clear{
    clear: both;  
    margin-bottom: 277px;
}

footer{
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 10px; 
    font-size: 12px;
    padding: 10px;
    text-align: center;
    color:#aaa;
    border-top-style: solid; 
    border-top-color: #ccc;
}

footer ul{
    list-style: none;
    display: inline-flex;
    font-size: 12px;
}

footer li{
    margin-right: 8px;
}

footer a{
    text-decoration: none;
    color:#777
}

footer a:hover{
    color:black;
}

.mb30{
    margin-bottom: 30px;
    background-color:white;
}