@import "_colors";
@import "animate";
@import "bootstrap.min";
@import "css";
@import "font-awesome";
@import "jquery.fancybox";
@import "layers";
@import "navigation";
@import "owl.carousel";
@import "owl.transitions";
@import "responsive-tabs";
@import "settings";
@import "style";
/**
dont touch
**/
@import "blue-dark";
@media screen and (max-width: 767px){
  .topBar .text-right {
    text-align: left;
  }
  .topBar .languageBlock {
    padding-left: 35px;
  }
}
.topBar {
  color:#ffffff;
  background-color: #008cba;
}
.topBar p {
  padding: 3px 3px 3px 20px;
}
.topBar .chooseLang {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
.navbar-brand {
  padding: 5px 0 0;
}
.what-we-do-features-item {
  color: #1b1b1b !important;
  font-style: normal !important;
  display: inline !important;
}
.what-we-do-features-item:hover {
  color: #008cba !important;
}

/**Fonts**/
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/hinted-Raleway-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/hinted-Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/hinted-Raleway-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/hinted-Raleway-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}